In [19]:
import gmaps
import pandas as pd

# Google developer API key
from config import api_key

# Configure gmaps

gmaps.configure(api_key)
print(api_key)

AIzaSyDW91Gci6WJOxSJbjSnmEFuQkNzog_HMqM

In [20]:
# Create df
df_latlong = pd.read_csv('../harmonious_hummingbirds/Intoxication_Data.csv')
df_latlong.dropna()
df_latlong.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,190325212,2019-11-23,1315.0,3,Southwest,328,21,F,W,17.0,Liquor Laws,I,25620BP,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,28TH ST,E UNIVERSITY,"(34.0278, -118.281)"
1,5809994,2019-11-27,2100.0,18,Southeast,1801,20,M,H,22.0,Driving Under Influence,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,FIGUEROA,MANCHESTER,"(33.9601, -118.2827)"
2,190818921,2019-11-27,1645.0,8,West LA,893,42,M,W,18.0,Drunkeness,M,41.27CLAMC,DRINKING IN PUBLIC,SEPULVEDA BL,PEARL,"(34.0344, -118.4336)"
3,5672540,2019-11-24,356.0,15,N Hollywood,1547,30,M,H,22.0,Driving Under Influence,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,BURBANK,HOLLYWOOD FY,"(34.1673, -118.3816)"
4,5806232,2019-11-23,149.0,2,Rampart,239,25,M,H,22.0,Driving Under Influence,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,WESTERN AV,101 SOUTHBOUND,"(34.0609, -118.2535)"

In [21]:
df_latlong = df_latlong.drop(['Time','Area ID','Charge','Area ID','Area Name','Descent Code','Charge Group Code','Reporting District'], axis=1)

In [9]:
#df_latlong = df_latlong.drop

In [22]:
df_latlong.nunique()

Report ID                   280105
Arrest Date                   3684
Age                             84
Sex Code                         2
Charge Group Description         8
Arrest Type Code                 3
Charge Description              63
Address                      23856
Cross Street                 10836
Location                     27648
dtype: int64

In [120]:
df_latlong = df_latlong.rename(columns={"Charge Group Description": "CGD"})

In [121]:
df_latlong[~df_latlong.CGD.isin(["Gambling", "Narcotic Drug Laws", 'Driving Under Influence','Miscellaneous Other Violations','Homicide','Moving Traffic Violations'])]

,Report ID,Arrest Date,Age,Sex Code,CGD,Arrest Type Code,Charge Description,Address,Cross Street,Location
0,190325212,2019-11-23,21,F,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,28TH ST,E UNIVERSITY,"(34.0278, -118.281)"
2,190818921,2019-11-27,42,M,Drunkeness,M,DRINKING IN PUBLIC,SEPULVEDA BL,PEARL,"(34.0344, -118.4336)"
5,190112235,2019-04-26,57,M,Drunkeness,M,DRINKING IN PUBLIC,6TH,HILL,"(34.0481, -118.2542)"
6,190112276,2019-04-27,35,M,Liquor Laws,I,DRINKING ALCOHOL*******,7TH,FLOWER,"(34.0438, -118.2547)"
7,190210388,2019-04-22,20,M,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,2200 W 6TH ST,NaN,"(34.0601, -118.2761)"
...,...,...,...,...,...,...,...,...,...,...
279896,5604870,2019-04-19,36,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",WILSHIRE,VERMONT,"(34.0618, -118.2916)"
279968,5609915,2019-04-24,44,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",900 S GRAMERCY PL,NaN,"(34.0537, -118.3133)"
280057,5610690,2019-04-25,54,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",800 W 7TH ST,NaN,"(34.0487, -118.2588)"
280069,5609558,2019-04-24,51,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",SANTA MONICA,WESTERN,"(34.0908, -118.3092)"
280098,5608260,2019-04-23,28,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",DUCAT ST,BARTEE AV,"(34.2674, -118.4498)"

In [122]:
df_latlong["Charge Description"].unique()

array(['OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE', 'DRINKING IN PUBLIC',
       'DRINKING ALCOHOL*******',
       'SALE/ETC OF ALCOHOLIC BEVERAGE TO MINOR', 'DRINKING IN PUBLIC***',
       'MINOR POSSESS ALCOHOL', 'DISORD CONDUCT:UI/DRUG, ALCOHOL',
       'DRINKING ALCOHOL', 'SELL/LET MINOR CONSUME ALCOHOL',
       'ALCOHOLIC BEV LICENSEE POSS UNAUTH LIQ',
       'MINOR IN POSSESSION OF ALCOHOLIC BEVERAGE',
       'ALCOHOLIC BEV SALES TO INTOXICATED PERSNS',
       'PERMIT BEGGING/SOLICITING OF ALCOHOL',
       'CONSUME/PURCHASE ALCOHOLIC BEV BY MINOR',
       'TRANSPORT ALCOHOLIC BEVERAGE BY MINOR',
       'SELL/PURCHASE ALCOHOL AFTER HOURS', 'DRUNK, ALCOHOL',
       'ALCOHOLIC BEV LIC PERMIT ALCHL CONSMPTN',
       'OFFER OF SUBSTITUTE ALCOHOLIC BEV BRAND',
       'POSSESS ANY ALCOHOLIC BEV LIST IN BP2535',
       'MINOR IN POSS OF ALCOHOL BEVERAGE IN VEH',
       'MFG/SELL/ETC ALCOHOL CONTAIN POISN SUBS',
       'MINOR ATT PURCHASE ALCOHOLIC BEVERAGE',
       'EMPLOY MINOR WHERE ALCOHOL SOLD',
       'MINOR EMPLOYED WHERE ALCOHOL IS SOLD',
       'POSS OF OPEN CONTAINER OF ALCOHOL IN PARK',
       'FURNISH ALCOHOLIC BEVERAGE TO A MINOR'], dtype=object)

In [127]:
df_latlong

,Report ID,Arrest Date,Age,Sex Code,CGD,Arrest Type Code,Charge Description,Address,Cross Street,Location
0,190325212,2019-11-23,21,F,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,28TH ST,E UNIVERSITY,"(34.0278, -118.281)"
2,190818921,2019-11-27,42,M,Drunkeness,M,DRINKING IN PUBLIC,SEPULVEDA BL,PEARL,"(34.0344, -118.4336)"
5,190112235,2019-04-26,57,M,Drunkeness,M,DRINKING IN PUBLIC,6TH,HILL,"(34.0481, -118.2542)"
6,190112276,2019-04-27,35,M,Liquor Laws,I,DRINKING ALCOHOL*******,7TH,FLOWER,"(34.0438, -118.2547)"
7,190210388,2019-04-22,20,M,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,2200 W 6TH ST,NaN,"(34.0601, -118.2761)"
...,...,...,...,...,...,...,...,...,...,...
277282,5507464,2018-12-28,28,F,Drunkeness,M,"DRUNK, ALCOHOL",1800 S WESTMORELAND AV,NaN,"(34.0416, -118.2896)"
277314,5503105,2018-12-22,19,M,Liquor Laws,M,MINOR POSSESS ALCOHOL,10900 WILMINGTON AV,NaN,"(33.9363, -118.2426)"
277972,5530677,2019-01-26,36,M,Liquor Laws,M,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,14600 CALVERT ST,NaN,"(34.1817, -118.4509)"
279740,5597027,2019-04-10,20,M,Liquor Laws,M,MINOR IN POSSESSION OF ALCOHOLIC BEVERAGE,COVELLO,ZOMBAR,"(34.2076, -118.4673)"
279831,5602614,2019-04-17,19,M,Liquor Laws,M,MINOR IN POSS OF ALCOHOL BEVERAGE IN VEH,1ST ST,SOTO,"(34.0437, -118.2098)"

In [136]:
~df_latlong['Charge Description'].isin([
    'SALE/ETC OF ALCOHOLIC BEVERAGE TO MINOR', 'DISORD CONDUCT:UI/DRUG, ALCOHOL', 
    'SELL/LET MINOR CONSUME ALCOHOL','ALCOHOLIC BEV LICENSEE POSS UNAUTH LIQ',
    'ALCOHOLIC BEV SALES TO INTOXICATED PERSNS', 'PERMIT BEGGING/SOLICITING OF ALCOHOL',
    'SELL/PURCHASE ALCOHOL AFTER HOURS','ALCOHOLIC BEV LIC PERMIT ALCHL CONSMPTN',
    'OFFER OF SUBSTITUTE ALCOHOLIC BEV BRAND', 'POSSESS ANY ALCOHOLIC BEV LIST IN BP2535',
    'MFG/SELL/ETC ALCOHOL CONTAIN POISN SUBS', 'MINOR ATT PURCHASE ALCOHOLIC BEVERAGE',
    'EMPLOY MINOR WHERE ALCOHOL SOLD','MINOR EMPLOYED WHERE ALCOHOL IS SOLD','POSS OF OPEN CONTAINER OF ALCOHOL IN PARK',
    'FURNISH ALCOHOLIC BEVERAGE TO A MINOR'])

0         True
2         True
5         True
6         True
7         True
          ...
277282    True
277314    True
277972    True
279740    True
279831    True
Name: Charge Description, Length: 148577, dtype: bool

In [128]:
df_latlong = df_latlong[~df_latlong['Charge Description'].isin([
    'SALE/ETC OF ALCOHOLIC BEVERAGE TO MINOR', 'DISORD CONDUCT:UI/DRUG, ALCOHOL', 
    'SELL/LET MINOR CONSUME ALCOHOL','ALCOHOLIC BEV LICENSEE POSS UNAUTH LIQ',
    'ALCOHOLIC BEV SALES TO INTOXICATED PERSNS', 'PERMIT BEGGING/SOLICITING OF ALCOHOL',
    'SELL/PURCHASE ALCOHOL AFTER HOURS','ALCOHOLIC BEV LIC PERMIT ALCHL CONSMPTN',
    'OFFER OF SUBSTITUTE ALCOHOLIC BEV BRAND', 'POSSESS ANY ALCOHOLIC BEV LIST IN BP2535',
    'MFG/SELL/ETC ALCOHOL CONTAIN POISN SUBS', 'MINOR ATT PURCHASE ALCOHOLIC BEVERAGE',
    'EMPLOY MINOR WHERE ALCOHOL SOLD','MINOR EMPLOYED WHERE ALCOHOL IS SOLD','POSS OF OPEN CONTAINER OF ALCOHOL IN PARK',
    'FURNISH ALCOHOLIC BEVERAGE TO A MINOR'])]

In [130]:
df_latlong["Charge Description"].unique()

array(['OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE', 'DRINKING IN PUBLIC',
       'DRINKING ALCOHOL*******', 'DRINKING IN PUBLIC***',
       'MINOR POSSESS ALCOHOL', 'DRINKING ALCOHOL',
       'MINOR IN POSSESSION OF ALCOHOLIC BEVERAGE',
       'CONSUME/PURCHASE ALCOHOLIC BEV BY MINOR',
       'TRANSPORT ALCOHOLIC BEVERAGE BY MINOR', 'DRUNK, ALCOHOL',
       'MINOR IN POSS OF ALCOHOL BEVERAGE IN VEH'], dtype=object)

In [137]:
df_latlong["Charge Description"].value_counts()

DRINKING IN PUBLIC                           93978
OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE      26125
DRINKING ALCOHOL                             10190
DRINKING IN PUBLIC***                         9383
MINOR IN POSSESSION OF ALCOHOLIC BEVERAGE     4695
DRINKING ALCOHOL*******                       2642
MINOR POSSESS ALCOHOL                         1218
CONSUME/PURCHASE ALCOHOLIC BEV BY MINOR        180
DRUNK, ALCOHOL                                 113
MINOR IN POSS OF ALCOHOL BEVERAGE IN VEH        37
TRANSPORT ALCOHOLIC BEVERAGE BY MINOR           16
Name: Charge Description, dtype: int64

In [114]:
df_coordinates = df_latlong.Location.str.extract(
    '^(?P<Location>.*)\s*\((?P<Latitude>[^,]*),\s*(?P<Longitude>\S*)\).*$',
    expand=True
)

In [116]:
	
# Merge two Dataframes on index of both the dataframes
df_merged = df_latlong.merge(df_coordinates, left_index=True, right_index=True)
df_merged

,Report ID,Arrest Date,Age,Sex Code,CGD,Arrest Type Code,Charge Description,Address,Cross Street,Location_x,Location_y,Latitude,Longitude
0,190325212,2019-11-23,21,F,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,28TH ST,E UNIVERSITY,"(34.0278, -118.281)",,34.0278,-118.281
2,190818921,2019-11-27,42,M,Drunkeness,M,DRINKING IN PUBLIC,SEPULVEDA BL,PEARL,"(34.0344, -118.4336)",,34.0344,-118.4336
5,190112235,2019-04-26,57,M,Drunkeness,M,DRINKING IN PUBLIC,6TH,HILL,"(34.0481, -118.2542)",,34.0481,-118.2542
6,190112276,2019-04-27,35,M,Liquor Laws,I,DRINKING ALCOHOL*******,7TH,FLOWER,"(34.0438, -118.2547)",,34.0438,-118.2547
7,190210388,2019-04-22,20,M,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,2200 W 6TH ST,NaN,"(34.0601, -118.2761)",,34.0601,-118.2761
...,...,...,...,...,...,...,...,...,...,...,...,...,...
279896,5604870,2019-04-19,36,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",WILSHIRE,VERMONT,"(34.0618, -118.2916)",,34.0618,-118.2916
279968,5609915,2019-04-24,44,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",900 S GRAMERCY PL,NaN,"(34.0537, -118.3133)",,34.0537,-118.3133
280057,5610690,2019-04-25,54,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",800 W 7TH ST,NaN,"(34.0487, -118.2588)",,34.0487,-118.2588
280069,5609558,2019-04-24,51,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",SANTA MONICA,WESTERN,"(34.0908, -118.3092)",,34.0908,-118.3092
280098,5608260,2019-04-23,28,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",DUCAT ST,BARTEE AV,"(34.2674, -118.4498)",,34.2674,-118.4498

In [96]:
df_merged

crime_locations = df_merged[["Latitude", "Longitude"]]
crime_locations.dtypes

crime_locations["Latitude"] = crime_locations.Latitude.astype(float)
crime_locations["Longitude"] = crime_locations.Longitude.astype(float)

crime_locations

/Users/andrewwright/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/andrewwright/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

        Latitude  Longitude
0        34.0278  -118.2810
2        34.0344  -118.4336
5        34.0481  -118.2542
6        34.0438  -118.2547
7        34.0601  -118.2761
...          ...        ...
279896   34.0618  -118.2916
279968   34.0537  -118.3133
280057   34.0487  -118.2588
280069   34.0908  -118.3092
280098   34.2674  -118.4498

[156024 rows x 2 columns]

In [141]:
df_sampler = crime_locations.sample(10000)

In [144]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(df_sampler, dissipating=False, max_intensity=50, point_radius=0.005)
 
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
df_merged

,Report ID,Arrest Date,Age,Sex Code,CGD,Arrest Type Code,Charge Description,Address,Cross Street,Location_x,Location_y,Latitude,Longitude
0,190325212,2019-11-23,21,F,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,28TH ST,E UNIVERSITY,"(34.0278, -118.281)",,34.0278,-118.281
2,190818921,2019-11-27,42,M,Drunkeness,M,DRINKING IN PUBLIC,SEPULVEDA BL,PEARL,"(34.0344, -118.4336)",,34.0344,-118.4336
5,190112235,2019-04-26,57,M,Drunkeness,M,DRINKING IN PUBLIC,6TH,HILL,"(34.0481, -118.2542)",,34.0481,-118.2542
6,190112276,2019-04-27,35,M,Liquor Laws,I,DRINKING ALCOHOL*******,7TH,FLOWER,"(34.0438, -118.2547)",,34.0438,-118.2547
7,190210388,2019-04-22,20,M,Liquor Laws,I,OPEN ALCOHOLIC BEV IN PUBLIC PARK/PLACE,2200 W 6TH ST,NaN,"(34.0601, -118.2761)",,34.0601,-118.2761
...,...,...,...,...,...,...,...,...,...,...,...,...,...
279896,5604870,2019-04-19,36,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",WILSHIRE,VERMONT,"(34.0618, -118.2916)",,34.0618,-118.2916
279968,5609915,2019-04-24,44,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",900 S GRAMERCY PL,NaN,"(34.0537, -118.3133)",,34.0537,-118.3133
280057,5610690,2019-04-25,54,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",800 W 7TH ST,NaN,"(34.0487, -118.2588)",,34.0487,-118.2588
280069,5609558,2019-04-24,51,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",SANTA MONICA,WESTERN,"(34.0908, -118.3092)",,34.0908,-118.3092
280098,5608260,2019-04-23,28,M,Drunkeness,M,"DISORD CONDUCT:UI/DRUG, ALCOHOL",DUCAT ST,BARTEE AV,"(34.2674, -118.4498)",,34.2674,-118.4498

In [103]:
# still need to remove some of the charge descriptions

In [107]:
df_merged.to_csv("df_crime.csv", index=False, header= True)